@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

}

.v-vertical > .v-spacing {
  height: 30px;
}

.v-horizontal > .v-spacing {
  width: 50px;
}

/* Center the text in header. */
.v-table-header-cell {
  text-align: center;
}

/* Basic style for all cells. */
.v-table-checkerboard .v-table-cell-content {
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
  width: 20px;
  height: 28px;
}

/* Style specifically for the row header cells. */
.v-table-cell-content-rowheader {
  background: #4374a3 url(../default/table/img/header-bg.png) repeat-x scroll 0 0;

}

/* Style specifically for the "white" cells. */
.v-table-cell-content-white {
  background: white;
  color: black;
}

/* Style specifically for the "black" cells. */
.v-table-cell-content-black {
  background: black;
  color: white;
}

/* Style for field which is header */
.field_header_style {
  background: #E7EDF3 font-size:40 px;
}

.mytheme {

  .v-textfield-fieldHeaderStyle {
    background: #bddfff;
  }

  //.v-button-roundButtonStyle {
  //  background: #6bff4c;
  //}

  .v-button-roundButtonStyle {
    width: 75px;
    height: 0;
    display: block;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 35%;
    border-radius: 60%;
    //border: 10px solid #cfdcec;
    overflow: hidden;
    background: rgba(182, 182, 255, 0.65);
    //box-shadow: 0 0 3px gray;
  }

  .v-button-caption-roundButtonStyle {
    display: block;
    white-space: normal;
    text-align: center;
  }

  .v-button-roundButtonStyleClicked {
    width: 75px;
    height: 0;
    display: block;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 35%;
    border-radius: 60%;
    //border: 10px solid #cfdcec;
    overflow: hidden;
    background: #479acd;
    box-shadow: 0 0 3px gray;
  }

  .v-button-roundButtonStyle:hover {
    background: #4297c3;
  }

  /* Lay the options horizontally */
  .v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
    margin:10px
  }

  /* Avoid wrapping if the layout is too tight */
  .v-select-optiongroup-horizontal {
    margin:0px 0px 15px 0px;
    white-space: nowrap;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  /* Some extra spacing is needed */
  .v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
    padding-right: 10px;
  }
  .mymargins.v-margin-left   {padding-left:   10px;}
  .mymargins.v-margin-right  {padding-right:  10px;}
  .mymargins.v-margin-top    {padding-top:    10px;}
  .mymargins.v-margin-bottom {padding-bottom: 10px;}
  .upload-info {
    left: auto !important;
    top: auto !important;
    right: 20px;
    bottom: 20px;
  }
  .title{
    font-size: 30px;

  }
}

.v-button-qualityQuantityButtonStyle {
  background: rgba(182, 182, 255, 0.65);
  //box-shadow: 0 0 3px gray;
}

.v-select-optiongroup-scaleTypeOptionGroup {
  margin:0px 0px 0px 0px;
  white-space: nowrap;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10px;
}

.v-select-optiongroup-scaleTypeOptionGroup
.v-select-option.v-radiobutton {
  padding-right: 1px;
}